.navbar{
    margin-bottom: 20px;
    background-color: black;
}
.navbar img{
    width: 150px;
    height: 90px;
}
.footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px 0px;
    margin-top: 20px;
}
.footer a{
    color: darkturquoise;
}
a{
    text-decoration: none;
    color: white;
}
.card-scroll{
    display: flex;
    overflow-x: scroll;
    margin-bottom: 20px;
}


/* Card del home, con personajes, vehiculos y planetas */
.card{
    width: 300px;
    margin: 5px;
}
.card-title{
    font-size: 25px;
    font-weight: bolder;
}
.card-body{
    text-align: start;
}
.corazon{
    margin-left: 100px;
}

/* Card de details */
.card-details{
    height: 500px;
    display: flex;
}
.card-details img{
    width: 50%;
}
.general-details{
    margin: 20px 80px;
    text-align: center;
}